<div class="main">
    <h1 class="title">Bienvenido a The Buyer</h1>

    <div class="homeText">
        <h5>¿Qué es The Buyer?</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore non aliquam, id voluptatibus nam, eos asperiores doloribus cumque, recusandae voluptatum cum excepturi! At, esse perspiciatis debitis culpa necessitatibus nulla dolore?</p>
        <h5>¿Para qué puedo usar The Buyer?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nihil magnam corrupti et! Officia possimus eius repellat voluptates sapiente perspiciatis modi aperiam nihil, similique magni ipsa fuga commodi error tempora.</p>
        <h5>¿Quiénes hacemos The Buyer?</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere reprehenderit perspiciatis unde consectetur rerum ut vero earum vel tenetur, quia voluptatem delectus recusandae dicta? Minus obcaecati id nisi aspernatur animi.</p>
        <h5>¿Es seguro usar The Buyer?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eligendi asperiores repellendus pariatur possimus blanditiis incidunt dolor consequuntur obcaecati. Fugit minus quod totam similique nemo nostrum perspiciatis amet omnis nam.</p>

        <h5>Comienza a comprar!</h5>
        <button routerLink="/products" class="btn btn-success">Shop Now</button>

    </div>
</div>
